ear
{{define "index" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Youtube Downloader</title>
  <script src="https://unpkg.com/htmx.org@1.9.12"
    integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
    crossorigin="anonymous"></script>
</head>
<script defer src="https://cdn.tailwindcss.com"></script>

<body class="bg-gradient-to-r from-amber-500 to-pink-500">
  <h1 class="text-5xl text-white m-3 text-center">
    Youtube Video Downloader
  </h1>
  {{template "infoForm" .}}
  <div id="dContainer"
    class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700">
  </div>
</body>

</html>
{{ end }}

{{block "infoForm" .}}
<div class="flex flex-col text-white rounded-xl px-3 py-4">
  <form hx-target="#dContainer" hx-swap="innerHTML" hx-post="/getInfo" class="flex gap-3">
    <input type="url" name="URL" id="URL" placeholder="Enter video URL here"
      class="border-2 rounded border-green-500 p-2 text-black w-4/5" />
    <button type="submit"
      class="w-1/5 text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Get Info
    </button>
  </form>
</div>
{{ end }}

{{block "playlistInfo" .}}
<div class='flex flex-col gap-3 p-5 text-white'>
  {{range .Data}}
  <div class="flex gap-5">
    <img src="{{.Thumbnail.Src}}" width="{{.Thumbnail.Width}}" height="{{.Thumbnail.Height}}" alt="vid Thumbnail"
      class="h-auto max-w-sm rounded-lg shadow-none transition-shadow duration-300 ease-in-out hover:shadow-lg hover:shadow-black/30">
    <div class="flex flex-col justify-center">
      <p class='text-xl font-bold'>Title: {{.Title}}</p>
      <p>Author Name: <span class='text-green-300'>{{.Author}}</span></p>
      <p>Duration: <span class='text-green-300'>{{.Duration}}<span></p>
      <div>
        <button hx-get="/info?id={{.VideoID}}" hx-swap="outerHTML"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Get Download Info</button>
      </div>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}

{{block "videoInfo" .}}
<div class='flex flex-col gap-3 p-5'></div>
{{range .Data}}
<div class="flex gap-5 text-white">
  <img src="{{.Thumbnail.Src}}" width="{{.Thumbnail.Width}}" height="{{.Thumbnail.Height}}" alt="vid Thumbnail"
    class="h-auto max-w-sm rounded-lg shadow-none transition-shadow duration-300 ease-in-out hover:shadow-lg hover:shadow-black/30">
  <div class="flex flex-col justify-center">
    <p class='text-xl font-bold'>Title: {{.Title}}</p>
    <p>Author Name: <span class='text-green-300'>{{.Author}}</span></p>
    <p>Duration: <span class='text-green-300'>{{.Duration}}<span></p>
    <div>
      <form hx-post='/download?id={{.VideoID}}' class='p-3 rounded-md gap-3 flex gap-3'>
        <select name='quality' id='qual' class='border rounded-md text-black'>
          {{range $val := .VidQuality}}
          <option value="{{$val}}">{{$val}}</option>
          {{end}}
        </select>
        <div>
          <input type='radio' name="audioOnly" value="true" id="audioOnly" />
          <label for="audioOnly">Audio Only</label>
        </div>
        <button type='submit'
          class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Download
        </button>
      </form>
    </div>
  </div>
</div>
{{end}}
</div>
{{end}}

{{block "error" .}}
<div>
  <p class="text-red-500">{{.error}}</p>
</div>
{{end}}

{{block "vidInf" .}}
<img src="{{.Thumbnail.Src}}" width="{{.Thumbnail.Width}}" height="{{.Thumbnail.Height}}" alt="vid Thumbnail"
  class="h-auto max-w-sm rounded-lg shadow-none transition-shadow duration-300 ease-in-out hover:shadow-lg hover:shadow-black/30">
<div class="flex flex-col justify-center">
  <p class='text-xl font-bold'>Title: {{.Title}}</p>
  <p>Author Name: <span class='text-green-300'>{{.Author}}</span></p>
  <p>Duration: <span class='text-green-300'>{{.Duration}}<span></p>
</div>
{{end}}

{{block "downloadInfo" .}}
<form hx-post='/download?id={{.VideoID}}' class='p-3 rounded-md gap-3 flex gap-3'>
  <select name='quality' id='qual' class='border rounded-md text-black'>
    {{range $val := .VidQuality}}
    <option value="{{$val}}">{{$val}}</option>
    {{end}}
  </select>
  <button type='submit'
    class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    Download
  </button>
</form>
{{end}}