{{define "Player"}}
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="viewport-fit=cover" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Player</title>
  <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png" />
  <link rel="manifest" href="assets/site.webmanifest" />
  <script src="https://unpkg.com/htmx.org@2.0.4"
    integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
  <script defer src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<input type="checkbox" id="audio_modal" class="modal-toggle" />
<div class="modal" role="dialog">
  <div class="modal-box">
    <ul class="list bg-base-200 text-base-content min-h-full">
      {{range .Data}} {{if .IsAudio}}
      <li hx-get="/play?title={{.Title}}" hx-swap="innerHTML" hx-target="#player"
        class="list-row hover:underline hover:underline-offset-2">
        {{.Title}}
      </li>
      {{end}} {{end}}
    </ul>
  </div>
  <label class="modal-backdrop" for="audio_modal">Close</label>
</div>

<input type="checkbox" id="video_modal" class="modal-toggle" />
<div class="modal" role="dialog">
  <div class="modal-box">
    <ul class="list bg-base-200 text-base-content min-h-full">
      {{range .Data}} {{if .IsAudio}}{{else}}
      <li hx-get="/play?title={{.Title}}" hx-swap="innerHTML" hx-target="#player"
        class="list-row hover:underline hover:underline-offset-2">
        {{.Title}}
      </li>
      {{end}} {{end}}
    </ul>
  </div>
  <label class="modal-backdrop" for="video_modal">Close</label>
</div>

<body>
  <!-- area where media plays -->
  <div class="flex min-[320px]:flex-col md:flex-row gap-3">
    <div class="flex md:flex-col gap-2 md:min-h-screen justify-center min-[320px]:flex-row">
      <a href="/" class="tab">
        <svg class="size-[2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g fill="currentColor" stroke-linejoin="miter" stroke-linecap="butt">
            <polyline points="1 11 12 2 23 11" fill="none" stroke="currentColor" stroke-miterlimit="10"
              stroke-width="2">
            </polyline>
            <path d="m5,13v7c0,1.105.895,2,2,2h10c1.105,0,2-.895,2-2v-7" fill="none" stroke="currentColor"
              stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></path>
            <line x1="12" y1="22" x2="12" y2="18" fill="none" stroke="currentColor" stroke-linecap="square"
              stroke-miterlimit="10" stroke-width="2"></line>
          </g>
        </svg>
      </a>
      <label for="audio_modal" class="btn">Audio</label>
      <label for="video_modal" class="btn">Video</label>
    </div>
    <div id="player" class="flex md:min-h-screen justify-center items-center w-full">
      <p class="text-accent">
        Hey there!! Play Something From the Awesome downloads you had
      </p>
    </div>
  </div>
</body>

</html>
{{end}}

{{block "audio" . }}
<div class="flex flex-col md:gap-5 text-center justify-center items-center">
  <audio controls id="aplay">
    <source src="{{.Data.Path}}" type="{{.Data.Type}}" />
    Your browser does not support the audio element.
  </audio>
  <p class="text-[#F97316]">{{.Data.Title}}</p>
</div>
{{end}}

{{block "video" . }}
<div class="flex flex-col gap-5 text-center justify-center items-center">
  <video controls class="h-full w-full rounded-xl shadow-[0_10px_20px_rgba(240,_46,_170,_0.7)]" id="vplay">
    <source src="{{.Data.Path}}" type="{{.Data.Type}}" />
    Your browser does not support the audio element.
  </video>
  <p class="text-[#F97316]">{{.Data.Title}}</p>
</div>
{{end}}