{{define "Player"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Player</title>
  <script src="https://unpkg.com/htmx.org@1.9.12"
    integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous">
    </script>
</head>
<script defer src="https://cdn.tailwindcss.com"></script>

<body class="bg-[#1d1d1d]">
  <div class="flex mt-5 p-3">
    <a href="/"
      class="flex-none w-1/7 bg-[#1d1d1d] border border-[#2272FF] rounded-xl p-3 hover:bg-blue-700 text-[#2272FF] hover:text-white font-bold">
      Home</a>
    <h1 class="flex-initial w-full text-center text-white text-3xl">
      Player
    </h1>
  </div>

  <div class="flex p-5 gap-3 max-h-screen text-white justify-center min-h-[80px]">
    <div id="list" class="w-1/4 rounded-xl h-auto p-5 flex gap-5 flex-col ">
      <p class="pl-2 hover:underline hover:underline-offset-4 text-2xl text-[#22D3EE]">Audio Files</p>
      <details class="overflow-y-auto overflow-x-hidden">
        <div class="flex flex-col gap-3">
          {{range .Data}} {{if .IsAudio}}
          <button hx-get="/play?title={{.Title}}" hx-swap="innerHTML" hx-target="#player"
            class="hover:underline hover:underline-offset-2 hover:text-green-300 border border-blue-500 rounded-xl p-1">
            {{.Title}}
          </button>
          {{end}} {{end}}
        </div>
      </details>
      <p class="pl-2 hover:underline hover:underline-offset-4 text-2xl text-[#22D3EE]">Video Files</p>
      <details class="overflow-y-auto">
        <div class="max-h-[39vh] flex flex-col gap-3">
          {{range .Data}} {{if .IsAudio}}{{else}}
          <button hx-get="/play?title={{.Title}}" hx-swap="innerHTML" hx-target="#player"
            class="hover:underline hover:underline-offset-2 hover:text-green-300 border border-blue-500 rounded-xl p-1">
            {{.Title}}
          </button>
          {{end}} {{end}}
        </div>
      </details>
    </div>
    <div id="player" class="p-5 w-full rounded-xl h-full">
      <p class="text-[#22D3EE]">Your Audio/Video Player Goes here</p>
    </div>
  </div>
</body>

</html>
{{end}}

{{block "audio" . }}
<div class="flex flex-col gap-5 text-center justify-center items-center">
  <audio controls id="aplay">
    <source src="{{.Data.Path}}" type="{{.Data.Type}}" />
    Your browser does not support the audio element.
  </audio>
  <p class="text-[#F97316]">{{.Data.Title}}</p>
</div>
{{end}} {{block "video" . }}
<div class="flex flex-col gap-5 text-center justify-center items-center">
  <video controls class="h-full w-full rounded-xl shadow-[0_10px_20px_rgba(240,_46,_170,_0.7)]" id="vplay">
    <source src="{{.Data.Path}}" type="{{.Data.Type}}" />
    Your browser does not support the audio element.
  </video>
  <p class="text-[#F97316]">{{.Data.Title}}</p>
</div>
{{end}}